<div class="container mb-6">
  <h1 class="title">近似値クイズ解答用紙 登録</h1>
  <div class="block">
    <% if notice %>
      <div class="notification is-success is-light">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="notification is-danger is-light">
        <%= alert %>
      </div>
    <% end %>
    <%= form_with model: @approximation_quiz_answer, url: admin_round1_approximation_quiz_answers_path, html: { autocomplete: "off" } do |f| %>
      <div class="field has-addons">
        <div class="control">
          <%= f.text_field :player_id, placeholder: "ID", class: "input", type: "number", min: 1, required: true, autofocus: true %>
        </div>
        <div class="control">
          <%= f.text_field :answer1, placeholder: "近似値1", class: "input", type: "number", min: 0 %>
        </div>
        <div class="control">
          <%= f.text_field :answer2, placeholder: "近似値2", class: "input", type: "number", min: 0 %>
        </div>
        <div class="control">
          <%= f.submit "送信", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="block">
    <%= @submitted_players.size %>人入力済み
  </div>
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>近似値1</th>
        <th>近似値2</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "player", collection: @submitted_players %>
    </tbody>
  </table>
  <h2 class="subtitle">未入力</h2>
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th>近似値1</th>
        <th>近似値2</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "player", collection: @unsubmitted_players %>
    </tbody>
  </table>
  <div class="block has-text-right">
    <%= form_with url: admin_round1_approximation_quiz_answers_path,
                method: :delete,
                style: 'display: inline-block;',
                data: { turbo_confirm: "全ての解答用紙を削除します。" } do |f| %>
      <%= f.submit '全て削除', class: 'button is-danger', tabindex: -1 %>
    <% end %>
  </div>
</div>
