<div class="container mb-6 is-max-tablet">
  <%= render "admin/shared/breadcrumb", items: [
    { label: "ペーパー採点", path: admin_round1_path },
    { label: "近似値", path: admin_round1_approximation_quiz_answers_path },
    { label: "入力", path: nil }
  ] %>
  <% if notice %>
    <div class="notification is-success is-light">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="notification is-danger is-light">
      <%= alert %>
    </div>
  <% end %>
  <div class="block">
    <%= @submitted_players.size %>人入力済み
  </div>
  <%= form_with model: @approximation_quiz_answer, url: admin_round1_approximation_quiz_answers_path, html: { autocomplete: "off" } do |f| %>
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>氏名</th>
          <th class="has-text-right">近似値1</th>
          <th class="has-text-right">近似値2</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="has-background-info-light" data-controller="player-name-lookup">
          <td style="width: 80px;">
            <%= f.number_field :player_id,
                placeholder: "ID",
                class: "input is-small",
                min: 1,
                required: true,
                autofocus: true,
                data: { player_name_lookup_target: "playerId", action: "input->player-name-lookup#lookup" } %>
          </td>
          <td data-player-name-lookup-target="playerName"></td>
          <td class="has-text-right"><%= f.number_field :answer1, placeholder: "近似値1", class: "input is-small", min: 0, style: "width: 120px;" %></td>
          <td class="has-text-right"><%= f.number_field :answer2, placeholder: "近似値2", class: "input is-small", min: 0, style: "width: 120px;" %></td>
          <td class="has-text-centered"><%= f.submit "追加", class: "button is-primary is-small" %></td>
        </tr>
        <%= render partial: "player", collection: @submitted_players, locals: { show_delete_link: true } %>
      </tbody>
    </table>
  <% end %>
  <h2 class="subtitle">未入力</h2>
  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>氏名</th>
        <th class="has-text-right">近似値1</th>
        <th class="has-text-right">近似値2</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "player", collection: @unsubmitted_players, locals: { show_delete_link: true } %>
    </tbody>
  </table>
  <div class="block has-text-right">
    <%= form_with url: admin_round1_approximation_quiz_answers_path,
                method: :delete,
                style: 'display: inline-block;',
                data: { turbo_confirm: "全ての解答用紙を削除します。" } do |f| %>
      <%= f.submit '全て削除', class: 'button is-danger', tabindex: -1 %>
    <% end %>
  </div>
</div>
