<section class="section">
  <div class="container is-max-tablet">
    <h1 class="title is-2">管理者ログイン</h1>
    <div class="block">
      <%= form_with url: admin_session_path, data: { turbo: false } do |f| %>
        <% if flash[:alert] %>
          <div class="notification is-danger is-light">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :username, "ユーザー名", class: "label" %>
          <div class="control has-icons-left">
            <%= f.text_field :username, class: "input", autocomplete: "username" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード", class: "label" %>
          <div class="control has-icons-left">
            <%= f.password_field :password, class: "input", autocomplete: "current-password" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <%= f.submit "ログイン", class: "button is-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
