<%# タイマー操作画面 %>
<div class="container is-max-tablet">
  <section class="section">
    <h1 class="title">タイマー操作</h1>
    <div class="field">
      <%= button_to "表示",
              "/admin/round1/timer/display",
              class: "button is-info",
              data: { turbo_stream: true } %>
    </div>
    <%= form_with url: "/admin/round1/timer/remaining_time",
                      method: :patch,
                      data: { turbo_stream: true } do |f| %>
      <div class="field is-grouped">
        <div class="control">
          <%= f.number_field :minutes,
                  min: 0,
                  max: 99,
                  value: 1,
                  class: "input" %>
        </div>
        <label class="label">分</label>
        <div class="control">
          <%= f.number_field :seconds,
                  min: 0,
                  max: 59,
                  value: 0,
                  class: "input" %>
        </div>
        <label class="label">秒</label>
        <div class="control" style="align-self: flex-end;">
          <%= f.submit "設定",
                class: "button is-primary" %>
        </div>
      </div>
    <% end %>
    <div class="mt-5">
      <%# タイマー操作ボタン %>
      <div class="field">
        <div class="control buttons">
          <%= button_to "開始",
              "/admin/round1/timer/start",
              class: "button is-success",
              data: { turbo_stream: true } %>
          <%= button_to "停止",
              "/admin/round1/timer/stop",
              class: "button is-danger",
              data: { turbo_stream: true } %>
        </div>
      </div>
    </div>
  </section>
</div>
