<h2 class="title is-4"><%= "#{match.round.name} 発表 - #{match.name}" %></h2>
<div class="block">
  <%= button_to "初期表示",
        admin_scoreboard_manipulations_path(action_name: "round2_init", match_id: match.id),
        method: :post,
        class: "button is-link" %>
</div>
<table class="table">
  <% match.matchings.order(:seat).each do |matching| %>
    <tr class="is-size-5">
      <td>
        <%= button_to "表示",
          admin_scoreboard_manipulations_path(action_name: "round2_display_player", matching_id: matching.id),
          method: :post,
          class: "button is-primary" %>
      </td>
      <td class="is-vcentered">
        席<%= matching.seat + 1 %>
      </td>
      <td class="is-vcentered">
        <%= I18n.with_locale(:en) { matching.player.yontaku_player_result&.rank&.ordinalize } %>
      </td>
      <td class="is-vcentered">
        <%= matching.player.player_profile.full_name %>
      </td>
      <td class="is-vcentered">
        <%= matching.player.player_profile.full_name_kana %>
      </td>
    </tr>
  <% end %>
</table>
