<%# locals: () %>
<h2 class="title is-4">シード発表</h2>
<div class="block">
  <%= button_to "初期表示",
          admin_scoreboard_manipulations_path(action_name: "paper_seed_init"),
          method: :post,
          class: "button is-link" %>
  <%= button_to "プレート退出",
          admin_scoreboard_manipulations_path(action_name: "paper_seed_exit_all_players"),
          method: :post,
          class: "button is-light mt-2" %>
</div>
<table class="table">
  <% 1.upto(7) do |rank| %>
    <% result = @yontaku_results.find { |r| r.rank == rank } %>
    <% next unless result %>
    <tr class="is-size-5">
      <td>
        <%= button_to "表示",
              admin_scoreboard_manipulations_path(action_name: "paper_seed_display_player", rank: rank),
              method: :post,
              class: "button is-primary" %>
      </td>
      <td class="is-vcentered">
        <%= I18n.with_locale(:en) { rank.ordinalize } %>
      </td>
      <td class="is-vcentered">
        <%= result.player.player_profile.full_name %>
      </td>
      <td class="is-vcentered">
        <%= result.player.player_profile.full_name_kana %>
      </td>
      <td class="is-vcentered has-text-right">
        <%= result.score %>点
      </td>
    </tr>
  <% end %>
</table>
