<div class="container">
  <section class="section">
    <h1 class="title is-2">画面表示</h1>
    <div class="field">
      <label class="label">表示項目</label>
      <div class="control">
        <div class="select">
          <%= select_tag :section,
                options_for_select([
                  ["1Rタイマー", round1_timer_admin_scoreboard_manipulations_path],
                  ["シード発表", seed_announcement_admin_scoreboard_manipulations_path],
                  ["2R発表 第1組", round2_match1_admin_scoreboard_manipulations_path],
                  ["2R発表 第2組", round2_match2_admin_scoreboard_manipulations_path],
                  ["2R発表 第3組", round2_match3_admin_scoreboard_manipulations_path],
                  ["2R発表 第4組", round2_match4_admin_scoreboard_manipulations_path],
                  ["2R発表 第5組", round2_match5_admin_scoreboard_manipulations_path]
                ], request.path),
                { onchange: "window.location.href=this.value" } %>
        </div>
      </div>
    </div>
    <% case @section %>
    <% when "round1_timer" %>
      <%= render "round1_timer" %>
    <% when "seed_announcement" %>
      <%= render "seed_announcement" %>
    <% when "round2_match1", "round2_match2", "round2_match3", "round2_match4", "round2_match5" %>
      <%= render "round2_match", match: @match %>
    <% end %>
    <div class="mt-5">
      <%= link_to "戻る", admin_root_path, class: "button is-light" %>
    </div>
  </section>
</div>
