<div class="container">
  <section class="section">
    <h1 class="title is-2">画面表示</h1>
    <% section_options = [
      ["1Rタイマー", round1_timer_admin_scoreboard_manipulations_path],
      ["1位発表", first_place_announcement_admin_scoreboard_manipulations_path],
      ["シード発表", seed_announcement_admin_scoreboard_manipulations_path],
    ] %>
    <% section_options += @round2_matches.map { |match| ["2R発表 #{match.name}", round2_match_admin_scoreboard_manipulations_path(match_id: match.id)] } %>
    <% section_options += @playoff_matches.map { |match| ["プレーオフ発表 #{match.name}", playoff_match_admin_scoreboard_manipulations_path(match_id: match.id)] } %>
    <% section_options += [["告知", announcement_admin_scoreboard_manipulations_path]] %>
    <div class="field">
      <label class="label">表示項目</label>
      <div class="control">
        <div class="select">
          <%= select_tag :section,
                options_for_select(section_options, request.fullpath),
                { onchange: "window.location.href=this.value" } %>
        </div>
      </div>
    </div>
    <% case @section %>
    <% when "round1_timer" %>
      <%= render "round1_timer" %>
    <% when "first_place_announcement" %>
      <%= render "first_place_announcement" %>
    <% when "seed_announcement" %>
      <%= render "seed_announcement" %>
    <% when "round2_match", "playoff_match" %>
      <%= render "round2_match", match: @match %>
    <% when "announcement" %>
      <%= render "announcement" %>
    <% end %>
  </section>
</div>
