<%# locals: (scores:, score_operation:) %>
<% scores.each do |score| %>
  <% name = score.matching.player.player_profile.family_name %>
  <div class="round2-match-player round2-match-player-<%= score.status %> <%= "animation-flip-in-x" if score.score_changed? %>"
        id="round2-match-player-<%= score.matching_id %>">
    <div class="round2-match-player-rank"><%= score.rank %></div>
    <div class="round2-match-name"><div class="round2-match-name--length-<%= name.size %>"><%= name %></div></div>
    <div class="round2-match-points"><%= score.points %></div>
    <div class="round2-match-misses">
      <% score.misses.times do %>
        <div class="round2-match-misses-cross">×</div>
      <% end %>
    </div>
  </div>
<% end %>
