<%# locals: (scores:, score_operation:) %>
<% scores.each do |score| %>
  <% name = score.matching.player.player_profile.family_name %>
  <div class="playoff-match-player player--<%= score.status %> <%= "animation-flip-in-x" if score.score_changed? %>"
        id="playoff-match-player-<%= score.matching_id %>">
    <div class="player__name"><div class="round2-match-name--length-<%= name.size %>"><%= name %></div></div>
    <div class="player__points"><%= score.points %></div>
    <div class="player__previous-result <%= scoreboard_hayaoshi_player_previous_result_class(score_operation, score.matching.player_id) %>"></div>
  </div>
<% end %>
