<div class="container">
  <%= turbo_frame_tag 'match' do %>
    <section class="section">
      <div class="is-flex is-justify-content-space-between is-align-items-flex-end">
        <h1 class="title mb-0"><%= @match.full_name %></h1>
        <p><%= @match.progress_summary %></p>
      </div>
      <div class="columns">
        <div class="column">
          <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
              <tr>
                <th class="has-text-centered">ステータス</th>
                <th style="width: 8em">氏名</th>
                <th class="has-text-centered">得点</th>
                <th class="has-text-centered">誤答数</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "admin/shared/matches/hayaoshi/score", collection: @scores %>
            </tbody>
          </table>
        </div>
        <div class="column">
          <div class="buttons is-justify-content-space-between mt-4">
            <%= form_with url: "/admin/matches/#{@match.id}/question_closings",
                         method: :post,
                         style: 'display: inline-block;',
                         data: { turbo_confirm: "この問題をスルーにします。" } do |f| %>
              <%= f.submit 'スルー', class: 'button is-warning' %>
            <% end %>
            <%= form_with url: "/admin/matches/#{@match.id}/match_closings",
                         method: :post,
                         style: 'display: inline-block;',
                         data: { turbo_confirm: "限定問題終了処理を行います。" } do |f| %>
              <%= f.submit '限定問題終了', class: 'button is-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <h2 class="title is-4">操作履歴</h2>
      <div class="block">
        <%= form_with url: "/admin/matches/#{@match.id}/undos",
                    method: :post,
                    style: 'display: inline-block;',
                    data: { turbo_confirm: "直前の操作を取り消します。" } do |f| %>
          <%= f.submit 'アンドゥ', class: 'button is-warning', disabled: @histories.one? %>
        <% end %>
      </div>
      <div class="columns is-multiline">
        <% @histories.each do |history| %>
          <div class="column is-one-fifth">
            <p class="box has-background-white-ter"><%= history %></p>
          </div>
        <% end %>
      </div>
    </section>
    <section class="section">
      <h2 class="title is-4">画面表示</h2>
      <%= button_to "画面をこの試合に切り替える", admin_scoreboard_manipulations_path(action_name: "match_display", match_id: @match.id), method: :post, class: "button is-primary" %>
    </section>
  <% end %>
</div>
