<%# locals: (matching:) %>
<tr>
  <td class="has-text-centered">
    <%= button_to '正解',
          admin_round2_path(match_number: matching.match.match_number),
          params: { matching_id: matching.id, situation: 'pushed', result: 'correct' },
          method: :put,
          class: 'button is-success is-small',
          disabled: !matching.status_playing?,
          form: {
            style: 'display: inline-block;',
          }
          %>
  </td>
  <td style="width: 8em">
    <%= matching.player.player_profile.family_name %>
    <%= matching.player.player_profile.given_name %>
  </td>
  <td class="has-text-centered">
    <%= button_to '誤答',
          admin_round2_path(match_number: matching.match.match_number),
          params: { matching_id: matching.id, situation: 'pushed', result: 'wrong' },
          method: :put,
          class: 'button is-danger is-small',
          disabled: !matching.status_playing?,
          form: {
            style: 'display: inline-block;',
          }
          %>
  </td>
  <td class="has-text-centered"><%= matching.points %></td>
  <td class="has-text-centered"><%= matching.misses %></td>
  <td class="has-text-centered"><%= matching.status %></td>
</tr>
