<%# locals: (matching:) %>
<tr data-controller="modal">
  <td class="has-text-centered is-vcentered">
    <span class="tag <%= player_status_color(matching.status) %>">
      <%= matching.status %>
    </span>
  </td>
  <td style="width: 8em" class="is-vcentered">
    <%= button_tag "#{matching.player.player_profile.family_name} #{matching.player.player_profile.given_name}",
      class: "button #{player_button_color(matching.status)}",
      disabled: !matching.status_playing?,
      data: { action: "click->modal#open" } %>
    <div class="modal" data-modal-target="modal">
      <div class="modal-background" data-action="click->modal#close"></div>
      <div class="modal-content">
        <div class="box">
          <p class="is-size-2">
            <%= matching.player.player_profile.family_name %>
            <%= matching.player.player_profile.given_name %>
          </p>
          <div class="is-flex is-justify-content-space-between buttons are-large">
            <%= button_to '正解',
              admin_round2_path(match_number: matching.match.match_number),
              params: { player_results: [matching_id: matching.id, situation: 'pushed', result: 'correct'] },
              method: :put,
              class: 'button is-info',
              disabled: !matching.status_playing?,
              form: {
                style: 'display: inline-block;',
              }
            %>
            <%= button_to '誤答',
              admin_round2_path(match_number: matching.match.match_number),
              params: { player_results: [matching_id: matching.id, situation: 'pushed', result: 'wrong'] },
              method: :put,
              class: 'button is-danger',
              disabled: !matching.status_playing?,
              form: {
                style: 'display: inline-block;',
              }
            %>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" data-action="click->modal#close"></button>
    </div>
  </td>
  <td class="has-text-centered is-vcentered"><%= matching.points %></td>
  <td class="has-text-centered is-vcentered"><%= matching.misses %></td>
</tr>
