<div class="container mb-6">
  <%= render "admin/shared/breadcrumb", items: [
    { label: "ペーパー採点", path: admin_round1_path },
    { label: "四択解答用紙", path: nil }
  ] %>
  <% if notice %>
    <div class="notification is-success is-light">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="notification is-danger is-light">
      <%= alert %>
    </div>
  <% end %>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title is-5"><%= @paper_count %>枚アップロード済み</p>
          <p class="subtitle is-6">
            2枚: <%= @players_count_by_paper_count[2] %>人 /
            1枚: <%= @players_count_by_paper_count[1] %>人 /
            0枚: <%= @players_count_by_paper_count[0] %>人
          </p>
        </div>
      </div>
      <div class="block">
        <%= form_with model: @upload, url: admin_round1_yontaku_player_papers_path, multipart: true do |f| %>
          <div class="field has-addons">
            <div class="control is-expanded">
              <%= f.file_field :csv_file, accept: ".csv", class: "input" %>
            </div>
            <div class="control">
              <%= f.submit "アップロード", class: "button is-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column is-two-thirds">
      <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered">ID</th>
            <th>氏名</th>
            <th class="has-text-centered">解答用紙1</th>
            <th class="has-text-centered">解答用紙2</th>
          </tr>
        </thead>
        <tbody>
          <% @players.each do |player| %>
            <% paper1 = player.yontaku_player_papers.find { it.paper_number == 1 } %>
            <% paper2 = player.yontaku_player_papers.find { it.paper_number == 2 } %>
            <tr class="<%= 'has-background-success-light' if paper1 && paper2 %>">
              <td class="has-text-centered"><%= player.id %></td>
              <td><%= player.player_profile&.full_name %></td>
              <td class="has-text-centered">
                <% if paper1 %>
                  <span class="icon has-text-success"><i class="fas fa-check-circle"></i></span>
                <% else %>
                  <span class="icon has-text-grey-light">-</span>
                <% end %>
              </td>
              <td class="has-text-centered">
                <% if paper2 %>
                  <span class="icon has-text-success"><i class="fas fa-check-circle"></i></span>
                <% else %>
                  <span class="icon has-text-grey-light">-</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="block has-text-right">
        <%= form_with url: admin_round1_yontaku_player_papers_path,
                    method: :delete,
                    style: 'display: inline-block;',
                    data: { turbo_confirm: "全ての解答用紙を削除します。" } do |f| %>
          <%= f.submit '全て削除', class: 'button is-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
