<%# locals: (reading_histories:) %>
<% reading_histories.each do |reading_history| %>
  <div class="box">
    <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
      <p class="subtitle mb-0"><%= reading_history.question.id %></p>
      <p>
        <span class="icon"><i class="fas fa-stopwatch"></i></span>
        <%= '%.2f' % reading_history.read_duration %> / <%= '%.2f' % reading_history.full_duration %>
      </p>
    </div>
    <p><%= reading_history.question.text %></p>
    <p class="mt-2 is-size-5 has-text-weight-bold"><%= reading_history.question.answer %></p>
    <% if reading_history.question.another_answer.present? %>
      <p><%= reading_history.question.another_answer %></p>
    <% end %>
  </div>
<% end %>
