<%# locals: (question:) %>
<div class="box mb-5" data-controller="current-question">
  <div data-current-question-target="questionId">
    1
  </div>
  <div data-current-question-target="text">
    <%= question.text %>
  </div>
  <div data-current-question-target="answer">
    <%= question.answer %>
  </div>
  <div data-current-question-target="anotherAnswer">
    <%= question.another_answer %>
  </div>
  <div data-current-question-target="note">
    <%= question.note %>
  </div>
  <div class="field is-grouped is-justify-content-flex-end">
    <%= link_to "移動", "#",
          class: "button is-primary",
          data: {
            action: "click->current-question#promptQuestionNumber"
          } %>
  </div>
</div>
