<%# locals: (score:, playing_scores:, min_points:) %>
<tr data-controller="modal">
  <td class="has-text-centered is-vcentered">
    <span class="tag <%= player_status_color(score.status) %>">
      <%= score.status %>
    </span>
    <% if score.rank %>
      <span>
        <%= I18n.with_locale(:en) { score.rank.ordinalize } %>
      </span>
    <% end %>
  </td>
  <td style="width: 8em" class="is-vcentered <%= "has-text-grey-lighter" if score.status_lose? %>">
    <%= "#{score.matching.player.player_profile.family_name} #{score.matching.player.player_profile.given_name}" %>
    <%= hidden_field_tag "question_player_results_attributes[][player_id]", score.matching.player_id, disabled: !score.status_playing? %>
    <%= hidden_field_tag "question_player_results_attributes[][situation]", "unpushed", disabled: !score.status_playing?, data: { "checkbox-hidden-toggler-target": "hidden" } %>
  </td>
  <td class="has-text-centered is-vcentered">
    <div class="field">
      <label class="switch" data-controller="checkbox-hidden-toggler">
        <%= hidden_field_tag "question_player_results_attributes[][result]", "wrong", disabled: true, data: { "checkbox-hidden-toggler-target": "hidden" } %>
        <%= checkbox_tag "question_player_results_attributes[][result]", "correct", false, data: { "checkbox-hidden-toggler-target": "checkbox", action: "checkbox-hidden-toggler#toggle" }, disabled: !score.status_playing? %>
        <span class="check is-success"></span>
      </label>
    </div>
  </td>
  <td class="has-text-centered is-vcentered <%= "has-text-grey-lighter" if score.status_lose? %> <%= "has-background-warning-light" if score.status_playing? && min_points && score.points == min_points %>"><%= score.points %></td>
  <td class="has-text-centered is-vcentered">
    <%= button_tag "敗退",
      class: "button is-danger",
      disabled: !score.status_playing?,
      data: { action: "click->modal#open:prevent" } %>
    <div class="modal" data-modal-target="modal">
      <div class="modal-background" data-action="click->modal#close"></div>
      <div class="modal-content">
        <div class="box">
          <p class="is-size-2 has-text-left">
            <%= score.matching.player.player_profile.family_name %>
            <%= score.matching.player.player_profile.given_name %>
          </p>
          <div class="is-flex is-justify-content-end buttons are-large">
            <input type="submit" form="form-disqualification-<%= score.id %>" value="敗退" class="button is-danger">
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" data-action="click->modal#close"></button>
    </div>
  </td>
</tr>
