<%# locals: (scores:, score_operation:) %>
<% scores.each do |score| %>
  <% name = score.matching.player.player_profile.scoreboard_full_name %>
  <div class="hayaoshi-player hayaoshi-player-<%= score.status %> <%= "animation-flip-in-x" if score.score_changed? %>"
        id="hayaoshi-player-<%= score.matching_id %>">
    <div class="hayaoshi-player-rank"><%= score.rank %></div>
    <div class="hayaoshi-player-name"><div class="hayaoshi-player-name--length-<%= name.size %>"><%= name %></div></div>
    <div class="hayaoshi-player-points"><%= score.points.to_s.gsub('-', "\u2212") %></div>
    <div class="hayaoshi-player-misses">
      <% score.misses.times do %><span class="hayaoshi-player-misses-cross">×</span><% end %>
    </div>
    <div class="hayaoshi-player-previous-result <%= scoreboard_hayaoshi_player_previous_result_class(score_operation, score.matching.player_id) %>"></div>
  </div>
<% end %>
