<%# システム設定編集フォーム %>
<div class="container is-max-tablet">
  <section class="section">
    <h1 class="title">システム設定</h1>
    <% if flash.notice %>
      <div class="notification is-success is-light">
        <%= flash.notice %>
      </div>
    <% end %>
    <%= form_with url: admin_settings_path, method: :put do |f| %>
      <div class="field">
        <label class="switch is-rounded">
          <%= check_box_tag :registerable, true, Setting.registerable %>
          <span class="check"></span>
          <span class="control-label">エントリー受付</span>
        </label>
      </div>
      <div class="field">
        <label class="switch is-rounded">
          <%= check_box_tag :round3_course_preference_editable, true, Setting.round3_course_preference_editable %>
          <span class="check"></span>
          <span class="control-label">3Rコース希望の変更</span>
        </label>
      </div>
      <div class="field">
        <div class="control has-text-right">
          <%= submit_tag "更新", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </section>
</div>
