<%# locals: (scores:, score_operation:) %>
<% scores.each do |score| %>
  <% name = score.matching.player.player_profile.scoreboard_full_name %>
  <div class="hayabo-player hayabo-player-<%= score.status %>"
        id="hayabo-player-<%= score.matching_id %>">
    <div class="hayabo-player-rank"><%= score.rank %></div>
    <div class="hayabo-player-name"><div class="hayabo-player-name--length-<%= name.size %>"><%= name %></div></div>
    <div class="hayabo-player-points"><%= score.points.to_s.gsub('-', "\u2212") %></div>
    <div class="hayabo-player-misses">
      <% score.misses.times do %><span class="hayabo-player-misses-cross">×</span><% end %>
    </div>
    <div class="hayabo-player-previous-situation <%= scoreboard_hayabo_player_previous_situation_class(score_operation, score.matching.player_id) %>"></div>
    <div class="hayabo-player-previous-result <%= scoreboard_hayabo_player_previous_result_class(score_operation, score.matching.player_id) %>"></div>
  </div>
<% end %>
