<%# locals: (ranks:) %>
<div class="round2-container">
  <% ranks.each do |rank| %>
    <div class="round2-player
        <%= "round2-player-adv" if round2_advantage?(rank) %>
        <%= "round2-player-wait" if round2_waiting?(rank) %>
        "
        id="round2-player-<%= rank %>">
      <div class="round2-rank"><%= rank %></div>
      <div class="round2-name"><%= YontakuPlayerResult.find_by(rank: rank).player.player_profile.scoreboard_full_name %></div>
    </div>
  <% end %>
</div>
