<%# locals: (scores:, score_operation:) %>
<% scores.each do |score| %>
  <% name = score.matching.player.player_profile.scoreboard_full_name %>
  <div class="board-player player--<%= score.status %>"
        id="board-player-<%= score.matching_id %>"
        data-seat="<%= score.matching.seat %>">
    <div class="player__rank"><%= score.rank %></div>
    <div class="player__name"><div class="board-player-name--length-<%= name.size %>"><%= name %></div></div>
    <% if score.points >= 0 %>
      <div class="player__points" data-score-visibility-toggler-target="points" data-points="<%= score.points %>"><%= score.points.to_s.gsub('-', "\u2212") %></div>
    <% else %>
      <div class="player__points"></div>
    <% end %>
  </div>
<% end %>
