<%# locals: (scores:, score_operation:) %>
<% scores.each do |score| %>
  <% name = score.matching.player.player_profile.scoreboard_full_name %>
  <div class="board-player board-player-<%= score.status %>"
        id="board-player-<%= score.matching_id %>">
    <div class="board-player-rank"><%= score.rank %></div>
    <div class="board-player-name"><div class="board-player-name--length-<%= name.size %>"><%= name %></div></div>
    <div class="board-player-points"><%= score.points.to_s.gsub('-', "\u2212") if score.points >= 0 %></div>
  </div>
<% end %>
