<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yamabuki Cup App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'admin' %>
  </head>

  <body>
    <% if admin_authenticated? %>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasic" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <%= Current.admin_user&.username %>
              </a>

              <div class="navbar-dropdown is-right">
                <%= link_to "ペーパー採点", admin_round1_path, class: "navbar-item" %>
                <%= link_to "画面表示", new_admin_scoreboard_manipulation_path, class: "navbar-item" %>
                <%= link_to "試合一覧", admin_matches_path, class: "navbar-item" %>
                <%= link_to "システム設定", admin_settings_path, class: "navbar-item" %>
                <%= link_to "エントリー管理", admin_entries_path, class: "navbar-item" %>
                <hr class="navbar-divider">
                <%= button_to "ログアウト", admin_session_path, method: :delete, class: "navbar-item", style: "text-align: left;" %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
