<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yamabuki Cup App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "scoreboard", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <%= yield :head %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag "scoreboard" %>
  </head>
  <body>
    <%= turbo_frame_tag "scoreboard-frame", refresh: :morph do %>
      <div id="scoreboard-root">
        <div id="scoreboard-main">
          <%= yield :scoreboard %>
        </div>
        <div id="scoreboard-footer">
          <div id="scoreboard-footer-left" class="scoreboard-footer-left"></div>
          <div id="scoreboard-footer-right" class="scoreboard-footer-right"><%= Date.today.strftime("%Y/%m/%d") %> 第2回 #やまぶき杯</div>
        </div>
      </div>
    </div>
  <% end %>
  <%= turbo_stream_from "scoreboard" %>
  <%= yield %>
</body>
</html>
