<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yamabuki Cup App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "scoreboard", "data-turbo-track": "reload" %>
    <%= yield :head %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag "scoreboard" %>
  </head>
  <body>
    <%= turbo_frame_tag "scoreboard-frame", refresh: :morph do %>
    <div id="scoreboard-root"><%= yield :scoreboard %></div>
    <% end %>
    <%= turbo_stream_from "scoreboard" %>
    <%= yield %>
  </body>
</html>
